Dataset/Combined_Dataset/CICIDS2017_GROUPED.csv
Dataset/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
Dataset/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv
Dataset/Friday-WorkingHours-Morning.pcap_ISCX.csv
Dataset/Monday-WorkingHours.pcap_ISCX.csv
Dataset/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv
Dataset/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
Dataset/Tuesday-WorkingHours.pcap_ISCX.csv
Dataset/Wednesday-workingHours.pcap_ISCX.csv
venv
Dataset/Combined_Dataset/CICIDS2017_GROUPED.zip
Dataset/Combined_Dataset/CICIDS2017_TEST.csv
Dataset/Combined_Dataset/CICIDS2017_TRAIN.csv
